@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");

$back-color: #fafafa;
$border-color: #dbdbdb;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
*,
html {
  font-family: "Lobster";
}
