@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");

.main1 {
  padding-top: 70px;

  .profile_img {
    width: 32px;
    height: 32px;
    border: 1px solid #ca0080;
    border-radius: 50px;
  }

  .main_photo {
    width: 614px;
    height: 614px;
  }

  header {
    height: 60px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
  }

  .main_header {
    width: 614px;
    height: 60px;
    border: 1px solid #dbdbdb;
    background-color: white;
    margin: 0px 292px 0px;
  }

  .profile {
    position: relative;
  }

  .profile_img {
    position: absolute;
    margin: 11px auto;
  }

  .profileID {
    display: inline;
    margin: 20px 40px;
    position: absolute;
  }

  .profileID {
    display: flex;
    align-items: center;
  }

  .main_image {
    margin: 0px 292px -4px;
  }

  .mainreaction {
    width: 614px;
    height: max-content;
    border: 1px solid #dbdbdb;
    background-color: white;
    margin: 0px 292px 0px;
    align-items: center;
    padding: 0 16px;
  }

  .icons-react {
    margin: 4px 0px -8px;
    position: relative;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .icons_left {
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin: 3px 0px 0px 0px;
  }

  .icons_right {
    margin: 3px 0px;
  }
  p.liked {
    font-weight: 700;
  }

  .main {
    width: 616px;
    height: max-content;
  }

  .main-right {
    float: right;
  }

  .pic {
    height: 56px;
    width: 56px;
    border: 1px solid #bdbdbd;
    border-radius: 50%;
  }

  .userID_right {
    font-weight: 700;
  }

  .sub-span {
    color: #a2a2a2;
    display: block;
  }

  .wrap_main {
    width: 600px;
    height: 3000px;
  }

  .main-right {
    width: 310px;
    display: inline-block;
    position: fixed;
    top: 94px;
  }

  .myProfile {
    margin-left: 930px;
    margin-top: 10px;
    background-color: pink;
  }

  .userID_right,
  .sub-span {
    z-index: 1px;
    margin-left: 80px;
  }

  .userID_right {
    margin-top: -45px;
  }

  .sub-span {
    width: 100px;
    margin-top: -10px;
  }

  .list {
    list-style: none;
  }
}
