* {
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .navigationBar {
  display: flex;

  .navIcon {
    width: 16px;
    height: 16px;
  }

  .line {
    width: 16px;
    height: 16px;
    border-right: solid 1px gray;
  }

  .logo {
    font-family: "Cookie", cursive;
    font-size: 40px;
  }
} */

.mainPage {
  display: flex;

  .feedBox {
    article {
      width: 450px;
      height: 500px;
      background-color: thistle;

      .feedIdBox {
        .feedIdImg {
          width: 20px;
          height: 20px;
          background-color: blue;
        }
      }

      .feedImg {
        width: 400px;
        height: 400px;
      }
    }
  }
  aside {
    .myId {
      color: red;
      background-color: blue;
    }
  }
}
