* {
  box-sizing: border-box;
  font-family: "helvetica neue", "Apple SD Gothic Neo", Roboto, Helvetica, Arial,
    sans-serif;
}
body {
  background-color: #fafafa;
  padding: 0;
  margin: 0;
}
p,
span {
  font-size: 14px;
}
nav {
  width: 100%;
  height: 54px;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
  z-index: 100;
}
.log_instagram {
  margin: 30px 0px;
}
.nav-contatiner {
  max-width: 1000px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  z-index: 100;
}
.nav1,
.nav2 {
  width: 370px;
  display: flex;
  align-items: center;
  z-index: 100;
}
.nav2 {
  justify-content: flex-end;
}
#searchInput {
  width: 200px;
  height: 12px;
  padding: 7px;
  box-sizing: content-box;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  text-indent: 10%;
  font-size: 14px;
}
.nav_link {
  text-decoration: none;
  color: black;
  margin: auto 8px;
}
.nav_image {
  border-radius: 50%;
  border: 1px solid #dbdbdb;
}
